
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --green: #29BB89;
    --light-gray: #D8E3E7;
    --medium-gray: #A2B29F;
    --bg-black: #000814;
    --top-blue: #001523;
}

.home {
    background-color: var(--bg-black);
    font-family: 'Roboto', 'sans-serif';
    display: grid;
    grid-template-rows: auto 1fr;
    /* grid-row-gap: ; */
    width: 100%;
    height: 100vh;
}
.grid-top {
    grid-column: 1;
    width: 100%;
    height:auto;
    /* border-bottom: 1px solid #343a40; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    /* margin-top: 20px; */
    background-color: var(--top-blue);
}

.grid-top-left {
    align-self: flex-start;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-left: 120px;
}

.grid-top-right {
    align-self: flex-end;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.logo-name {
    width: 200px;
    height: auto;
    align-self: center;
    margin-top: 25px;
}

.logo-name h4 {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
}

.grid-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 2;
}

.grid-1 {
    grid-column: 1;
    /* margin-top: 200px; */
    /* margin-left: 150px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-between;
}
.grid-2 {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    /* margin-top: 10px; */
}
.green-color {
    color: var(--green);
}

.text-intro {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

.home-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* padding: 10px;  */
    margin-top: 25px;
    margin-right: 60px;
}


.intro1 {
    color: var(--light-gray);
    font-size: 3em;
    font-weight: 500;
    letter-spacing: 2px;
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }

.intro2 {
    color: var(--light-gray);
    font-size: 1.8em;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 5px;
}

.intro3 {
    color: var(--medium-gray);
    font-size: 1.3em;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
}

.see-work-btn {
    background-color:var(--green);
    color: var(--light-gray);
    font-size: 1em;
    font-weight: 500;
    width: 127px;
    height: 44px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 10px;
}

.see-work-btn:hover {
    background-color: var(--light-gray);
    color: var(--green);
}

.contact-btn {
    background-color: var(--light-gray);
    color: var(--green);
    font-size: 1em;
    font-weight: 500;
    width: 127px;
    height: 44px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 10px;
}

.contact-btn:hover {
    background-color: var(--green);
    color: var(--light-gray);
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    align-self: center;
    width: 120px;
    /* border: 1px dashed var(--light-gray); */
    margin-top: 60px;
    /* margin-left: 90px; */
    margin-right: 60px;
    
}

.social-media-icons {
    width: 36px;
    height: 36px;
    cursor: pointer;
    /* margin-right: 10px; */
    transition: all 0.3s;
}

.social-media-icons:hover {
    opacity: 0.7;
}

.menu {
    width: 100%;
    height: auto;
}

.menu ul {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 100%;
    height: 100%;
    /* padding: 5px; */
    /* margin: 5px; */
    margin-left: 30px;
}

.menu ul li {
    float: left;
    margin: 10px;
    padding: 5px;
}

.menu ul li a {
    text-decoration: none;
    color: #D8E3E7;
    font-size: 1.2em;
    font-weight: 300;
    opacity: 0.8;
    transition: 0.3s;
}
.menu ul li a:hover {
    opacity: 1;
}

.image-intro {
    width: auto;
    height: auto;
    margin-bottom: 80px;
    margin-right: 100px;
}

.image-intro  img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.about {
    background-color: var(--bg-black);
    font-family: 'Roboto', 'sans-serif';
    display: grid;
    grid-row-gap: 50px;
    grid-template-rows: 200px 1fr;
    width: 100%;
    height: 100vh;
}

.about-text {
    /* grid-column-start: 1;
    grid-column-end: 2; */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    /* margin-top: 50px; */
    /* margin-left: 50px; */
}

.section-text {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.section-text h1 {
    margin-top: -10px;
    color: var(--green);
    font-size: 2.5em;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'Roboto', 'sans-serif';
}

.section-text p {
    display: block;
    width: 60%;
    text-align: center;
    color: var(--medium-gray);
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: 1px;
    /* margin-top: 5px; */
    font-style: italic;
    font-family: 'Roboto', 'sans-serif';
}

.skills {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.skills h2 {
    color: var(--green);
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'Roboto', 'sans-serif';
}

.skills-ml {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.skills-ml h3 {
    color: var(--medium-gray);
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 10px;
    font-family: 'Roboto', 'sans-serif';
}

.skills-ml ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    list-style-type: none;
    width: 100%;
    height: 100%;
    padding: 5px;
    margin: 5px;
    margin-left: 30px;
}

.skills-ml ul li {
    float: left;
    margin: 10px;
    padding: 5px;
}



.skills-web {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-top: 20px;
}

.skills-web h3 {
    color: var(--medium-gray);
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 10px;
    font-family: 'Roboto', 'sans-serif';
}

.skills-web ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    list-style-type: none;
    width: 100%;
    height: 100%;
    padding: 5px;
    margin: 5px;
    margin-left: 30px;
}

.skills-web ul li {
    float: left;
    margin: 10px;
    padding: 5px;
}

.projects {
    scroll-behavior: smooth;
    background-color: var(--bg-black);
    font-family: 'Roboto', 'sans-serif';
    display: grid;
    /* grid-row-gap: 20px; */
    grid-template-rows: 200px 1fr;
    width: 100%;
    height: 100vh;
    color: var(--light-gray);
}

.projects-list {
    /* margin-top: -120px; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: -15px;
}

.project {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 350px;
    height: 180px;
    border-radius: 10px;
    background-color: #00171f;
}

.project a {
    margin-left: 10px;
    align-self: center;
    color: var(--green);
    text-decoration: none;
}

.project a h3 {
    align-self: center;
    color: var(--green);
}

.project p {
    margin-left: 10px;
    color: var(--medium-gray);
    /* font-style: italic; */
}


.contact {
    background-color: var(--bg-black);
    font-family: 'Roboto', 'sans-serif';
    display: grid;
    /* column-gap: 50px; */
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 100%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 50%;
    height: 100%;
    color: var(--light-gray);
    font-family: 'Roboto', 'sans-serif';
    margin-left: 80px;
}

.contact-form h3 {
    align-self: center;
    color: var(--green);
    font-family: 'Roboto', 'sans-serif';
}

.contact-form form {
    width: 450px;
    background-color: transparent;
    padding: 15px;
}

.input-field {
    display: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-top: 10px;
}

.input-field label {
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--medium-gray);
    font-family: 'Roboto', 'sans-serif';
}

.input-field input {
    width: 100%;
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    border: 2px solid var(--top-blue);
    border-radius: 4px;
    outline: none;
}

.input-field textarea {
    width: 100%;
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    border: 2px solid var(--top-blue);
    border-radius: 4px;
    outline: none;
}

.send-mail-btn {
    width: 100%;
    height: 40px;
    /* border: none; */
    border: 2px solid var(--top-blue);
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--green);
    color: var(--light-gray);
    font-size: 1em;
    font-weight: bold;
    text-transform: capitalize;
    
}

.vertical-line {
    /* display: inline-block; */
    align-self: center;
    border-right: 2px solid var(--medium-gray);
    opacity: 0.5;
    height: 100%;
  }

.contact-social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 50%;
    height: 100%;
    color: var(--light-gray);
    font-family: 'Roboto', 'sans-serif';
}


.social-media {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    height: 100%;
    color: var(--light-gray);
    font-family: 'Roboto', 'sans-serif';
}

.social-media h2 {
    color: var(--green);
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 10px;
    font-family: 'Roboto', 'sans-serif';
    align-self: center;
}

.contact-social-media-icons {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 10px;
}

.contact-social-icon {
    width: 70px;
    height: 70px;
    /* border-radius: 50%; */
    padding: 10px;
}