@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Saira Condensed";
    src: url("/assets/fonts/SairaCondensed-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Saira Condensed";
    background-color: #1c1917;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}
